$gray5: rgb(182, 195, 204);
$primary-light: rgb(238, 251, 255);
$primary-default: rgb(0, 122, 204);
$primary-hover: rgb(0, 92, 153);
$primary-pressed: rgb(0, 61, 102);
$gray12: rgb(79, 100, 114);
$gray3: rgb(216, 224, 229);

.list-group {
  margin: 5px 0px 5px 10px;
  height: calc(100% - 10px);
  border: 1px solid $gray5;
  border-radius: 5px;

  .btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

    button {
      height: 30px;
      width: calc((100% - 20px));
      // width: calc((100% - 30px) / 2);
      border-radius: 0px;
      border: 1px solid $primary-default;
      background: $primary-default;
      color: white;
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    button:hover {
      border: 1px solid $primary-hover;
      background: $primary-hover;
    }

    button:focus {
      border: 1px solid $primary-pressed;
      background: $primary-pressed;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .list-items {
    overflow-y: auto;
    height: calc(100% - 80px);

    &.multi {
      height: calc(100% - 120px);
    }

    .list-item {
      height: 35px;
      line-height: 35px;
      border-bottom: 1px solid $gray3;
      cursor: pointer;
      padding-left: 5px;
      margin: 0px 10px;
      border-left: 4px solid transparent;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.active {
        border-left: 4px solid $primary-default;
        background: $primary-light;
      }
    }

    &.center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .loading-icon32 {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 2px solid $gray5;
      border-top: 2px solid $primary-default;
      animation: spin 1s linear infinite;
    }

    .loading-item {
      display: flex;
      padding: 20px 0px;
      justify-content: center;

      &.hidden {
        display: none;
      }

      .loading-icon16 {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 2px solid $gray5;
        border-top: 2px solid $primary-default;
        animation: spin 1s linear infinite;
      }
    }
  }

  .search-container {
    height: 40px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    margin: 0px 5px;

    .icon-search {
      margin: -27px;
      color: $gray12;
      cursor: pointer;
      font-size: 20px;
    }

    .icon-clear {
      margin: -20px;
      color: $gray12;
      cursor: pointer;
      font-size: 20px;

      &.hidden {
        display: none;
      }
    }

    .search-box {
      outline: 0;
      border: none;
      border-bottom: 1px solid $gray5;
      width: calc(100% - 14px);
      margin-left: 5px;
      height: 100%;
    }

    input:focus {
      background: $primary-light;
      border-bottom: 1px solid $primary-default;
    }
  }
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?i2f38x');
  src: url('../fonts/icomoon.eot?i2f38x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?i2f38x') format('truetype'), url('../fonts/icomoon.woff?i2f38x') format('woff'),
    url('../fonts/icomoon.svg?i2f38x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: '\e900';
}
.icon-search:before {
  content: '\e901';
}
